/* calendar.module.scss */
.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  input {
    width: 300px; // Or whatever width you prefer
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    padding: 8px 16px;
    background-color: #009688;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #00796b;
    }
  }
}
